div{
    div{
        div{
            h3.titulos-novedades{
                color: #fc1297;
                background-color: #5973f7;
            }
            h5{
                text-align: center;
                color: #fc1297;
                background-color: yellow;
            }
            p.texto-novedades {
                text-align: center;
            }
        }
    }
}